version: "3.7"
services:
  algoritmos:
    build:
      context: .
    ports:
      - 8123:8123
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./:/app
    working_dir: /app
    entrypoint: "php -S 0.0.0.0:8123"
